{% load static %}
<footer class="page-footer font-small stylish-color-dark pt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="{% static  'mdb/img/logo.png' %}" width="150" height="45" class="d-inline-block align-top"
                    alt="">
                <p>Somos un grupo de profesionales al servicio de los estudiante
                    para que logren alcanzar sus metas profesionales tanto en su escuelas,
                    academias, institutos o universidades.</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Cursos Pre</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/aritmetica.ico' %}" alt="aritmetica" width="24"
                                height="24">ritmética</a>
                    </li>
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/algebra.ico' %}" alt="algebra" width="24"
                                height="24">lgebra</a>
                    </li>
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/geometria.ico' %}" alt="geometria" width="24"
                                height="24">eometría</a>
                    </li>
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/trigonometria.ico' %}" alt="trigonometria" width="24"
                                height="24">rigonometría</a>
                    </li>
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/quimica.ico' %}" alt="quimica" width="24"
                                height="24">uímica</a>
                    </li>
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/fisica.ico' %}" alt="fisica" width="24"
                                height="24">ísica</a>
                    </li>
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/rmatematico.ico' %}" alt="rmatematico" width="24"
                                height="24">atemático</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Cursos Universitarios</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/calculo.ico' %}" alt="calculo" width="24"
                                height="24">alculo I</a>
                    </li>
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/calculo.ico' %}" alt="calculo" width="24"
                                height="24">alculo
                            II</a>
                    </li>
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/estadistica.ico' %}" alt="estadistica" width="24"
                                height="24">stadística I</a>
                    </li>
                    <li>
                        <a href="#!"><img src="{% static 'mdb/img/estadistica.ico' %}" alt="estadistica" width="24"
                                height="24">stadística II</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contactanos</h5>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-home "></i> Dirección: Urb. Previ Mz 60 Lt 13, Calle Araucarias 249, Callao
                        </p>
                    </li>
                    <li>
                        <a><i class="fas fa-mobile-alt "></i>Teléfono Movil: (+051) 928 771113 </a>
                        <a> (+051) 928 351781</a>
                    </li>
                    <li>
                        <a><i class="fas fa-phone "></i>Teléfono Fijo: (+051) (+01) 574 3513</a>
                    </li>
                    <li>
                        <a><i class="far fa-envelope "></i>Email: jmexebio27@gmail.com</a>
                        <a>jesuni27@hotmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Registrese GRATIS</h5>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'iniciar:register' %}" class="btn btn-danger btn-rounded">Registro</a>
        </li>
    </ul>
    <hr>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook-f fa-2x"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
                <i class="fab fa-twitter fa-2x"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
                <i class="fab fa-google-plus-g fa-2x"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-in mx-1">
                <i class="fab fa-instagram fa-2x"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-wh mx-1">
                <i class="fab fa-whatsapp fa-2x"> </i>
            </a>
        </li>
    </ul>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href=""> JMExebio.com</a>
    </div>
</footer>