<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}-JM-Exebio</title>
    <link rel="icon" href="{% static 'mdb/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet " type="text/css " href="{% static 'fontawesome/css/all.min.css' %} ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet " type="text/css " href="{% static 'mdb/css/bootstrap.min.css' %} ">
    <link rel="stylesheet " type="text/css " href="{% static 'mdb/css/bootstrap-reboot.min.css' %} ">
    <link rel="stylesheet " type="text/css " href="{% static 'mdb/css/bootstrap-grid.min.css' %} ">
    <link rel="stylesheet " type="text/css " href="{% static 'mdb/css/mdb.min.css' %} ">
    <link rel="stylesheet " type="text/css " href="{% static 'mdb/css/style.css' %} ">
</head>

<body>
    {% block navbar %}
    {% include "./navbar.html" %}
    {% endblock %}
    {% block carousel %}
    {% include "./carousel.html" %}
    {% endblock %}
    <div class="container-fluid">
        {% block content%}
        {% endblock %}
    </div>
    {% block footer%}
    {% include "./footer.html"%}
    {% endblock %}
    <script src="{% static 'mdb/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdb/js/popper.min.js' %}"></script>
    <script src="{% static 'mdb/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'mdb/js/mdb.min.js' %}"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
</body>

</html>