{% extends "base/layout.html" %}
{% block content %}
<div class="content py-3 d-flex justify-content-center">
    <div class="card pt-1">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>{{ title }}</strong>
        </h5>
        <div class="card-body px-5 pt-0">
            <form class="text-center" method="POST" style="color: #757575;" action="#!">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="materialRegisterFormUser" class="form-control" name="username">
                            <label for="materialRegisterFormUser">Usuario</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="materialRegisterFormFirstName" class="form-control"
                                name="first_name">
                            <label for="materialRegisterFormFirstName">Nombres</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="materialRegisterFormLastName" class="form-control" name="last_name">
                            <label for="materialRegisterFormLastName">Apellidos</label>
                        </div>
                    </div>
                </div>
                <div class="md-form mt-0">
                    <input type="email" id="materialRegisterFormEmail" class="form-control" name="email">
                    <label for="materialRegisterFormEmail">Escriba su correo electónico</label>
                </div>
                <div class="md-form">
                    <input type="password" id="materialRegisterFormPassword" class="form-control"
                        aria-describedby="materialRegisterFormPasswordHelpBlock" name="password1">
                    <label for="materialRegisterFormPassword">Escriba una contraseña</label>
                    <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                        Al menos 8 caracteres y 1 dígito
                    </small>
                </div>
                <div class="md-form">
                    <input type="password" id="materialRegisterFormPassword" class="form-control"
                        aria-describedby="materialRegisterFormPasswordHelpBlock" name="password2">
                    <label for="materialRegisterFormPassword">Vuelva a escribir la misma contraseña</label>
                    <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                        Al menos 8 caracteres y 1 dígito
                    </small>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
                    <label class="form-check-label" for="materialRegisterFormNewsletter">Suscríbete a nuestro
                        boletín</label>
                </div>
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                    type="submit">Registrarme</button>
                <p>o regístrate con:</p>

                <a type="button" class="btn-floating btn-fb btn-sm" style="color:#ffffff">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <a type="button" class="btn-floating btn-tw btn-sm" style="color:#ffffff">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a type="button" class="btn-floating btn-gplus btn-sm" style="color:#ffffff">
                    <i class="fab fa-google-plus-g fa-2x"></i>
                </a>
                <hr>
                <p>Al hacer clic en
                    <em>Registrarse,</em> acepta nuestros
                    <a href="" target="_blank">términos de servicio</a>

            </form>
        </div>
    </div>
</div>

{% endblock %}